<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HackTheNorth</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">   
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
    <div class="wrapper">
        <div class="logo">
            <img href= "/" src="{{ url_for('static',filename='images/party-people.png') }}" alt="hackthenorth">
        </div>
<ul class="nav-area">
<li><a href="/">Home</a></li>
<li><a href="info">How It Works?</a></li>
<li><a href="demo">Demo</a></li>
<li><a href="about">About Us</a></li>
</ul>
</div>
<div class="welcome-text">
        <h1>
<span class="smart">Smart</span> <span>Dance</span></h1>
<p>Welcome {{ username }}!</p>
<a href="train">Get Started </a>

    </div>
</header>

</body>
</html>
