<!DOCTYPE html>
<html>

<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/ind.css') }}"> 
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Sign in</title>
</head>

<body>
  <img src="{{ url_for('static',filename='images/funky-town-annotated.gif') }}" alt="hackthenorth">
  <div class="main">
    <p class="sign" align="center">Sign in</p>
    <form class="form1" method="POST" action="{{ url_for('login') }}">
     <!-- <input class="un " type="text" align="center" placeholder="Username"> -->
      <label><b>User Name     
      </b>    
        </label>    
          <input class = "un " type="text" align="center" name="username" placeholder="Username">   
        <br><br>
      <!-- <input class="pass" type="password" align="center" placeholder="Password"> -->
      <label><b>Password     
      </b>    
        </label>    
          <input class="pass" type="password" align="center"placeholder="Password">    
        <br><br>
        <button type="submit" id="log" class="btn btn-primary btn-block">Log In</button>
      <p class="forgot" align="center"><a href="#">Forgot Password?</p>
            
                
    </div>
     
</body>

</html>




